---
layout: default
---


<div class="heading" id="toc">
  <h2>Daftar isi</h2>
</div>
<div class="section toc">
  <div class="col">
    <h4><a href="#html">HTML</a></h4>
    <ul>
      <li><a href="#html-syntax">Sintaksis</a></li>
      <li><a href="#html-doctype">Doctype pada HTML5</a></li>
      <li><a href="#html-lang">Atribut Bahasa</a></li>
      <li><a href="#html-encoding">Encoding pada karakter</a></li>
      <li><a href="#html-ie-compatibility-mode">Mode kompatibilitas Internet Explorer</a></li>
      <li><a href="#html-style-script">Include pada CSS dan JavaScript</a></li>
      <li><a href="#html-practicality">Kepraktisan atas kemurnian</a></li>
      <li><a href="#html-attribute-order">Urutan atribut</a></li>
      <li><a href="#html-boolean-attributes">Atribut boolean</a></li>
      <li><a href="#html-reducing-markup">Mengurangi markup</a></li>
      <li><a href="#html-javascript">Markup yang dibuat dari JavaScript</a></li>
    </ul>
  </div>
  <div class="col">
    <h4><a href="#css">CSS</a></h4>
    <ul>
      <li><a href="#css-syntax">Sintaksis CSS</a></li>
      <li><a href="#css-declaration-order">Urutan deklarasi</a></li>
      <li><a href="#css-import">Jangan gunakan @import</a></li>
      <li><a href="#css-media-queries">Peletakan media query</a></li>
      <li><a href="#css-prefixed-properties">Properti yang mempunyai prefix</a></li>
      <li><a href="#css-single-declarations">Aturan dengan deklarasi tunggal</a></li>
      <li><a href="#css-shorthand">Penulisan pendek</a></li>
      <li><a href="#css-nesting">Nesting di Less dan Sass</a></li>
      <li><a href="#css-operators">Operators di Less dan Sass</a></li>
      <li><a href="#css-comments">Komentar</a></li>
      <li><a href="#css-classes">Class</a></li>
      <li><a href="#css-selectors">Selector</a></li>
      <li><a href="#css-organization">Penyusunan</a></li>
    </ul>
  </div>
</div>


<div class="section" id="golden-rule">
  <div class="col">
    <h2>Peraturan Emas</h2>
    <p>Ikuti pedoman ini, atau pedoman sendiri, setiap waktu. Kecil atau besar, katakan ketika ada yang salah. Untuk penambahan atau kontribusi pada Pedoman Kode ini, silahkan <a href="https://github.com/mdo/code-guide/issues/new">buka sebuah issue di GitHub pembuat pedoman yang asli, @mdo (dalam Bahasa Inggris)</a>.</p>
    <p>Sedangkan untuk koreksi pada penerjemahan, silahkan <a href="https//github.com/diagramatics/code-guide-id/issues/new">buka sebuah issue di GitHub ke saya, @diagramatics</a>.</p>
  </div>
  <div class="col">
    <blockquote>
      <p>Setiap baris kode harus terlihat seperti ditulis oleh satu orang saja, walaupun berapapun kontributor yang telah membantu.</p>
    </blockquote>
  </div>
</div>



<div class="heading" id="html">
  <h2>HTML</h2>
</div>

<div class="section" id="html-syntax">
  <div class="col">
    <h3>Sintaksis</h3>
    <ul>
      <li>Gunakan tabs lembut dengan dua spasi—inilah cara satu-satunya untuk menjamin kode ditampilkan dengan sama di setiap lingkungan.</li>
      <li>Elemen yang terletak di dalam elemen lain (nested) harus di-indent sekali (dua spasi).</li>
      <li>Selalu pakai tanda petik ganda, bukan tanda petik tunggal, pada atribut-atribut.</li>
      <li>Jangan masukkan sebuah garis miring tertinggal di elemen yang menutup sendiri—<a href="http://dev.w3.org/html5/spec-author-view/syntax.html#syntax-start-tag">spec HTML5 (Bahasa Inggris)</a> mengatakan bahwa mereka opsional.</li>
      <li>Jangan menghilangkan tag penutup yang opsional (contohnya <code>&lt;/li&gt;</code> atau <code>&lt;/body&gt;</code>.</li>
    </ul>
  </div>
  <div class="col">
    {% highlight html %}{% include html/syntax.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-doctype">
  <div class="col">
    <h3>Doctype pada HTML5</h3>
    <p>Paksakan mode yang telah distandarisasi dan rendering yang lebih konsisten di setiap browser yang mampu dengan sebuah doctype sederhana di awal dari semua halaman HTML.</p>
  </div>
  <div class="col">
    {% highlight html %}{% include html/doctype.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-lang">
  <div class="col">
    <h3>Atribut Bahasa</h3>
    <p>Dari spec HTML5:</p>
    <blockquote>
      <p>Penulis didorong untuk menentukan sebuah atribut lang pada elemen root html, memberikan bahasa dokumen tersebut. Ini membantu alat sintesis bahasa untuk menentukan pengucapan yang dipakai, alat penerjemah untuk menentukan peraturan apa yang dipakai, dan sebagainya.</p>
    </blockquote>
    <p>Baca lebih lanjut mengenai atribut <code>lang</code> <a href="http://www.w3.org/html/wg/drafts/html/master/semantics.html#the-html-element">di spec tersebut (Bahasa Inggris)</a>.</p>
    <p>Pergi ke Sitepoint untuk sebuah <a href="http://reference.sitepoint.com/html/lang-codes">daftar dari kode-kode bahasa (Bahasa Inggris)</a>.</p>
  </div>
  <div class="col">
    {% highlight html %}{% include html/lang.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-ie-compatibility-mode">
  <div class="col">
    <h3>Mode kompatibilitas IE</h3>
    <p>Internet Explorer mendukung penggunaan sebuah tag <code>&lt;meta&gt;</code> kompatibilitas dokumen untuk menentukan versi IE yang mana yang me-render halaman tersebut. Kecuali keadaan membutuhkan sebaliknya, ini sangat berguna untuk memerintahkan IE untuk menggunakan mode terbaru yang mendukung dengan <strong>mode edge</strong>.</p>
    <p>Untuk informasi lebih lanjut, <a href="http://stackoverflow.com/questions/6771258/whats-the-difference-if-meta-http-equiv-x-ua-compatible-content-ie-edge-e">baca artikel Stack Overflow yang hebat ini (Bahasa Inggris)</a>.</p>
  </div>
  <div class="col">
    {% highlight html %}{% include html/ie-compatibility-mode.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-encoding">
  <div class="col">
    <h3>Encoding pada karakter</h3>
    <p>Pastikan rendering yang tepat secara cepat dan mudah dengan menyatakan sebuah encoding karakter yang jelas. Ketika menggunakannya, kamu boleh menghindari pemakaian character entities pada HTML kamu, asalkan encoding mereka cocok dengan encoding pada dokumen (umumnya UTF-8).</p>
  </div>
  <div class="col">
    {% highlight html %}{% include html/encoding.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-style-script">
  <div class="col">
    <h3>Include pada CSS dan JavaScript</h3>
    <p>Per spec HTML5, tidak diperlukan untuk menyatakan sebuah <code>type</code> ketika meng-include file-file CSS dan JavaScript secara <code>text/css</code> dan <code>text/javascript</code> sebagai bawaan mereka masing-masing.</p>
    <h4>Tautan-tautan spec HTML5</h4>
    <ul>
      <li><a href="http://www.w3.org/TR/2011/WD-html5-20110525/semantics.html#the-link-element">Menggunakan link (Bahasa Inggris)</a></li>
      <li><a href="http://www.w3.org/TR/2011/WD-html5-20110525/semantics.html#the-style-element">Menggunakan style (Bahasa Inggris)</a></li>
      <li><a href="http://www.w3.org/TR/2011/WD-html5-20110525/scripting-1.html#the-script-element">Menggunakan script (Bahasa Inggris)</a></li>
    </ul>
  </div>
  <div class="col">
    {% highlight html %}{% include html/style-script.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-practicality">
  <div class="col">
    <h3>Kepraktisan atas kemurnian</h3>
    <p>Berjuanglah untuk mempertahankan standar dan semantik HTML, tetapi tidak dengan mengorbankan kepraktisan. Gunakan markup sesedikit mungkin dengan lika-liku sesedikit mungkin kapanpun juga.</p>
  </div>
</div>

<div class="section" id="html-attribute-order">
  <div class="col">
    <h3>Urutan atribut</h3>
    <p>Atribut HTML harus ditulis dengan urutan berikut agar kode lebih mudah dibaca.</p>
    <ul>
      <li><code>class</code></li>
      <li><code>id</code>, <code>name</code></li>
      <li><code>data-*</code></li>
      <li><code>src</code>, <code>for</code>, <code>type</code>, <code>href</code>, <code>value</code></li>
    </ul>
    <p>Class sangat berguna untuk komponen-komponen yang akan dipakai ulang, sehingga class diurutkan pertama. ID lebih spesifik dan harus digunakan dengan hemat (misalnya untuk bookmark pada halaman), sehingga ID diurutkan kedua.</p>
  </div>
  <div class="col">
    {% highlight html %}{% include html/attribute-order.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-boolean-attributes">
  <div class="col">
    <h3>Atribut boolean</h3>
    <p>Sebuah atribut boolean adalah atribut yang tidak perlu value yang dinyatakan. Pada XHTML diperlukan value tersebut, tetapi HTML5 tidak membutuhkannya.</p>
    <p>Untuk pembacaan lebih lanjut, lihat <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/common-microsyntaxes.html#boolean-attributes">bagian di WhatWG mengenai atribut boolean (Bahasa Inggris)</a>:</p>
    <blockquote>
      <p>Keberadaan sebuah atribut boolean pada sebuah elemen mewakili value 'true', dan ketidakberadaan dari atribut tersebut mewakili value 'false'.</p>
    </blockquote>
    <p>Jika kamu <em>harus</em> memasukkan value dari atribut tersebut, dan <strong>kamu tidak perlu melakukannya</strong>, ikuti pedoman dari WhatWG berikut:</p>
    <blockquote>
      <p>Ketika ada atribut yang dimaksud, value dari atribut tersebut harus merupakan string kosong atau [...] nama resmi atribut tersebut, tanpa spasi di depan atau dibelakangnya.</p>
    </blockquote>
    <p><strong>Kesimpulannya, jangan tambahkan sebuah value.</strong></p>
  </div>
  <div class="col">
    {% highlight html %}{% include html/boolean-attributes.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-reducing-markup">
  <div class="col">
    <h3>Mengurangi markup</h3>
    <p>Ketika mungkin, hindari elemen induk tidak berguna ketika menulis HTML. Seringkali ini memerlukan perulangan dan penyusunan ulang struktur, tetapi menghasilkan HTML yang lebih sedikit. Ambil contoh berikut ini:</p>
  </div>
  <div class="col">
    {% highlight html %}{% include html/reducing-markup.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-javascript">
  <div class="col">
    <h3>Markup yang dibuat dari JavaScript</h3>
    <p>Menulis markup di sebuah file JavaScript membuat konten tersebut susah dicari, susah diedit, dan kecepatannya menurun. Hindarilah ketika mungkin.</p>
  </div>
</div>



<div class="heading" id="css">
  <h2>CSS</h2>
</div>

<div class="section" id="css-syntax">
  <div class="col">
    <h3>Sintaksis</h3>
    <ul>
      <li>Gunakan tab lembut dengan dua spasi—inilah satu-satunya cara untuk menjamin kode ditampilkan sama di setiap lingkungan.</li>
      <li>Ketika mengelompokkan selector, taruh setiap selector masing-masing satu baris.</li>
      <li>Tambahkan satu spasi sebelum tanda buka kurung kurawal dari blok-blok deklarasi untuk lebih mudah dibaca.</li>
      <li>Taruh tanda tutup kurung kurawal dari blok-blok deklarasi di sebuah baris baru.</li>
      <li>Masukkan satu spasi setelah <code>:</code> untuk deklarasi yang lebih mudah.</li>
      <li>Setiap deklarasi harus terlihat pada barisnya tersendiri untuk laporan error yang lebih akurat.</li>
      <li>Akhiri setiap deklarasi dengan sebuah tanda titik koma. Pada deklarasi terakhir, hal ini pilihan tersendiri, tetapi kode kamu lebih mudah menyebabkan error tanpanya.</li>
      <li>Value yang dipisah dengan tanda koma harus mempunyai sebuah spasi setelah setiap tanda koma.</li>
      <li>Jangan masukkan spasi setelah koma <em>didalam</em> warna <code>rgb()</code> atau <code>rgba()</code> untuk membedakan value warna dari properti CSS yang memperbolehkan value berjumlah dua atau lebih yang sudah dipisah dengan sebuah koma atau spasi.</li>
      <li>Jangan prefix sebuah value atau parameter warna dengan angka 0 didepannya (misalnya <code>.5</code> daripada <code>0.5</code> dan <code>.-5px</code> daripada <code>-0.5px</code>).</li>
      <li>Buat semua value hex dalam huruf kecil, misalnya <code>#fff</code>. Huruf kecil lebih mudah dilihat ketika sebuah dokumen dibaca sepintas karena bentuk mereka lebih unik.</li>
      <li>Gunakan value hex pendek ketika ada, misalnya <code>#fff</code> daripada <code>#ffffff</code>.</li>
      <li>Berikan tanda kutip pada value atribut di selector, misalnya <code>input[type="text"]</code>. <a href="http://mathiasbynens.be/notes/unquoted-attribute-values#css">Mereka hanya diperlukan pada kasus tertentu (Bahasa Inggris)</a>, dan ini merupakan praktek baik agar konsisten.</li>
      <li>Hindari menuliskan satuan untuk value nol, misalnya <code>margin: 0;</code> daripada <code>margin: 0px;</code>.</li>
    </ul>
    <p>Ada pertanyaan pada istilah yang digunakan disini. Lihat <a href="http://en.wikipedia.org/wiki/Cascading_Style_Sheets#Syntax">bagian sintaksis dari artikel Cascading Style Sheets</a> di Wikipedia Bahasa Inggris.</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/syntax.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-declaration-order">
  <div class="col">
    <h3>Urutan deklarasi</h3>
    <p>Deklarasi properti yang berkaitan harus dikelompokkan dengan urutan:</p>
    <p>Related property declarations should be grouped together following the order:</p>
    <ol>
      <li>Peletakkan</li>
      <li>Model kotak</li>
      <li>Tipografi</li>
      <li>Visual</li>
    </ol>
    <p>Peletakkan diurutkan pertama karena dapat menghilangkan sebuah elemen dari alur normal dokumen tersebut dan mengesampingkan style dari model kotak yang berkaitan.</p>
    <p>Semua deklarasi yang lain dilakukan <em>di dalam</em> komponen tersebut atau tanpa mempengaruhi dua bagian sebelumnya, dan karena itulah mereka diletakkan terakhir.</p>
    <p>Untuk daftar lengkap dari properti dan urutannya, lihat <a href="http://twitter.github.com/recess">Recess (Bahasa Inggris)</a>.</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/declaration-order.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-import">
  <div class="col">
    <h3>Jangan gunakan <code>@import</code></h3>
    <p>Dibandingkan dengan <code>&lt;link&gt;</code>, <code>@import</code> lebih lambat, menambah request halaman ekstra, dan dapat menyebabkan masalah-masalah tak terduga lainnya. Hindarilah dan pilih pendekatan alternatif:</p>
    <ul>
      <li>Gunakan elemen <code>&lt;link&gt;</code> satu atau lebih</li>
      <li>Compile CSS kamu dengan sebuah preprocessor seperti Sass atau Less ke dalam satu file</li>
      <li>Satukan file CSS kamu dengan fitur yang diberikan di Rails, Jekyll, atau lingkungan lainnya</li>
    </ul>
    <p>Untuk informasi lebih lanjut, <a href="http://www.stevesouders.com/blog/2009/04/09/dont-use-import/">baca artikel ini oleh Steve Souders (Bahasa Inggris)</a>.</p>
  </div>
  <div class="col">
    {% highlight html %}{% include css/import.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-media-queries">
  <div class="col">
    <h3>Peletakan media query</h3>
    <p>Letakkan media query dekat dengan set aturan yang berhubungan ketika bisa. Jangan dikumpulkan semuanya di sebuah stylesheet yang terpisah atau di ujung dokumen. Itu hanya membuat orang-orang luput dari penglihatan mereka kedepannya. Ini contoh sebuah pengarutan yang umum.</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/media-queries.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-prefixed-properties">
  <div class="col">
    <h3>Properti yang mempunyai prefix</h3>
    <p>Ketika menggunakan properti yang memiliki vendor prefix, indent setiap properti sehingga value dari pertanyaan tersebut tersusun rapi untuk editan multi-line yang mudah.</p>
    <p>Di Textmate, gunakan <strong>Text &rarr; Edit Each Line in Selection</strong> (&#8963;&#8984;A). Di Sublime Text 2, gunakan <strong>Selection &rarr; Add Previous Line</strong> (&#8963;&#8679;&uarr;) dan <strong>Selection &rarr;  Add Next Line</strong> (&#8963;&#8679;&darr;).</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/prefixed-properties.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-single-declarations">
  <div class="col">
    <h3>Deklarasi tunggal</h3>
    <p>Di kejadian ketika sebuah set peraturan memiliki <strong>hanya satu deklarasi</strong>, pertimbangkan untuk menghilangkan line break untuk lebih mudah dibaca dan edit yang lebih cepat. Setiap set peraturan dengan dua atau lebih deklarasi harus dipisahkan ke baris masing-masing.</p>
    <p>Faktor utama pada hal ini adalah deteksi error—misalnya sebuah CSS validator mengatakan bahwa ada syntax error pada Baris 183. Dengan sebuah deklarasi tunggal, tidak ada yang luput. Dengan deklarasi ganda, baris yang terpisah diperlukan untuk kesehatan jiwa.</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/single-declarations.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-shorthand">
  <div class="col">
    <h3>Penulisan pendek</h3>
    <p>Berjuang untuk membatasi penggunaan deklarasi yang ditulis pendek pada hal-hal dimana anda harus mengeset secara jelas setiap value yang ada. Properti yang ditulis pendek yang sering digunakan secara berlebihan berisi:</p>
    <ul>
      <li><code>padding</code></li>
      <li><code>margin</code></li>
      <li><code>font</code></li>
      <li><code>background</code></li>
      <li><code>border</code></li>
      <li><code>border-radius</code></li>
    </ul>
    <p>Seringkali kita tidak perlu mengeset semua value yang diwakili sebuah properti yang ditulis pendek. Misalnya, heading pada HTML hanya mengeset margin atas dan bawah, jadi ketika diperlukan, override kedua value tersebut. Penggunakan properti yang ditulis pendek secara berlebihan sering mengarah ke penulisan kode yang lebih ceroboh dengan override yang tidak diperlukan dan efek samping yang tidak diinginkan.</p>
    <p>Mozilla Developer Network mempunyai sebuah artikel bagus mengenai <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/Shorthand_properties">properti yang ditulis pendek (Bahasa Inggris)</a> untuk mereka yang tidak terbiasa dengan notasi dan perilaku.</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/shorthand.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-nesting">
  <div class="col">
    <h3>Nesting pada LESS dan SASS</h3>
    <p>Hindari nesting yang tidak diperlukan. Hanya karena kamu bisa nesting, bukan berarti kamu harus selalu melakukannya. Pertimbangkan nesting ketika kamu harus mencakup style pada sebuah induk dan ada dua atau lebih elemen yang harus di-nesting.</p>
  </div>
  <div class="col">
    {% highlight scss %}{% include css/nesting.scss %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-operators">
  <div class="col">
    <h3>Operator di Less and Sass</h3>
    <p>Untuk dapat dibaca lebih mudah, bungkus semua operasi matematika dalam tanda kurung menggunakan dengan satu spasi diantara nilai, variabel dan operator.</p>
  </div>
  <div class="col">
    {% highlight scss %}{% include css/operators.scss %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-comments">
  <div class="col">
    <h3>Komentar</h3>
    <p>Kode itu ditulis dan dijaga oleh orang-orang. Pastikan kode kamu deskriptif, dikomentari dengan bagus, dan dapat dipahami orang lain. Komentar pada kode yang bagus mencakup konteks dan kegunaan. Jangan hanya mengulang sebuah nama komponen atau nama dari class.</p>
    <p>Pastikan untuk menulis dalam kalimat yang lengkap atau komentar yang lebih besar dan frase singkat untuk catatan umum.</p>
    <p>Be sure to write in complete sentences or larger comments and succinct phrases for general notes.</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/comments.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-classes">
  <div class="col">
    <h3>Nama class</h3>
    <ul>
      <li>Pastikan class memakai huruf kecil dan gunakan tanda pisah (bukan tanda garis bawah atau camelCase). Tanda pisah menjadi sebuah pemutusan alamiah pada class yang berhubungan (misalnya <code>.btn</code> dan <code>.btn-danger</code>.</li>
      <li>Hindari penulisan pendek yang berkelebihan dan sewenang-wenang. <code>.btn</code> berguna untuk <em>button</em>, tetapi <code>.s</code> tidak berarti apapun.</li>
      <li>Pastikan nama class sependek dan sesingkat mungkin.</li>
      <li>Gunakan nama yang berarti; gunakan nama yang berstruktur atau berguna dibanding nama yang terlihat bagus.</li>
      <li>Prefix sebuah class berdasarkan induk terdekat atau class dasarnya.</li>
      <li>Gunakan class <code>.js-*</code> untuk menandakan tingkah lakunya (dibandingkan dengan tampilannya), tetapi taruh class-class berikut diluar CSS kamu.</li>
    </ul>
    <p>Menggunakan peraturan-peraturan ini tanpa ada perbedaan juga berguna ketika membuat nama-nama variabel Sass and Less.</p>
    <p>It's also useful to apply many of these same rules when creating Sass and Less variable names.</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/class-names.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-selectors">
  <div class="col">
    <h3>Selector</h3>
    <ul>
      <li>Gunakan class dibanding tag elemen yang generik untuk kecepatan rendering yang optimal.</li>
      <li>Hindari penggunaan beberapa selektor atribut (misalnya <code>[class^="..."]</code>) pada komponen yang sering berlaku. Kemampuan browser dikenal terkena dampak dari hal-hal ini.</li>
      <li>Jagalah selector agar tetap pendek dan berjuang untuk membatasi jumlah elemen di setiap selector hanya tiga.</li>
      <li>Cakupkan class pada induk terdekat <strong>hanya</strong> ketika diperlukan (misalnya ketika tidak menggunakan class yang telah di-prefix).</li>
    </ul>
    <p>Bacaan tambahan:</p>
    <ul>
      <li><a href="http://markdotto.com/2012/02/16/scope-css-classes-with-prefixes/">Cakupkan class CSS dengan prefix (Bahasa Inggris)</a></li>
      <li><a href="http://markdotto.com/2012/03/02/stop-the-cascade/">Hentikan cascade (Bahasa Inggris)</a></li>
    </ul>
  </div>
  <div class="col">
    {% highlight css %}{% include css/selectors.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-organization">
  <div class="col">
    <h3>Penyusunan</h3>
    <ul>
      <li>Susun bagian-bagian kode berdasarkan komponen.</li>
      <li>Kembangkan sebuah hirarki komentar yang konsisten.</li>
      <li>Gunakan spasi yang konsisten untuk keuntungan kamu ketika memisahkan bagian-bagian dari sebuah kode untuk pembacaan singkat dokumen yang lebih besar ukurannya.</li>
      <li>Ketika menggunakan dua atau lebih file CSS, pisahkan berdasarkan komponen daripada halaman. Halaman dapat disusun ulang dan komponen dapat dipindahkan.</li>
    </ul>
  </div>
  <div class="col">
    {% highlight css %}{% include css/organization-comments.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-editor-prefs">
  <div class="col">
    <h3>Preferensi editor</h3>
    <p>Set editor kamu pada pengaturan berikut untuk menghindari kode yang umumnya tidak konsisten dan diff yang kotor:</p>
    <p>Set your editor to the following settings to avoid common code inconsistencies and dirty diffs:</p>
    <ul>
      <li>Set tab lembut menjadi dua spasi.</li>
      <li>Potong sisa spasi di depan ketika save.</li>
      <li>Set encoding menjadi UTF-8.</li>
      <li>Tambahkan baris baru pada ujung file.</li>
    </ul>
    <p>Pertimbangkan mendokumentasi dan menerapkan preferensi ini pada file <code>.editorconfig</code> project kamu. Sebagai contoh, lihat <a href="https://github.com/twbs/bootstrap/blob/master/.editorconfig">.editorconfig pada Bootstrap</a>. Pelajari lebih banyak <a href="http://editorconfig.org">mengenai EditorConfig (Bahasa Inggris)</a>.</p>
  </div>
</div>
