<footer class="footer">
  <p>&lt;3</p>
  <p>Terinspirasi berat oleh <a href="https://github.com/necolas/idiomatic-css">Idiomatic CSS</a> dan <a href="http://github.com/styleguide">Aturan Style GitHub</a>. Dibuat dengan cinta oleh <a href="https://twitter.com/mdo">@mdo</a>.</p>
  <p>Open source dibawah MIT. Copyright {{ site.time | date: '%Y' }} <a href="https://twitter.com/mdo">@mdo</a>.</p>
  <p>Versi Bahasa Indonesia oleh <a href="https://twitter.com/diagramatics">@diagramatics</a> dan kontributor-kontibutor <a href="http://github.com/diagramatics/code-guide-id">via GitHub</a>.</p>

  <ul class="quick-links">
    <li>
      <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=diagramatics&repo=code-guide-id&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="112px" height="20px"></iframe>
    </li>
    <li>
      <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=diagramatics&repo=code-guide-id&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="98px" height="20px"></iframe>
    </li>
  </ul>
  <ul class="quick-links">
    <li class="follow-btn">
      <a href="https://twitter.com/mdo" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @mdo</a>
    </li>
    <li class="follow-btn">
      <a href="https://twitter.com/diagramatics" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @diagramatics</a>
    </li>
    <li class="tweet-btn">
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://diagramatics.github.com/code-guide-id" data-count="horizontal" data-via="diagramatics">Tweet</a>
    </li>
  </ul>
</footer>
